.DS_Store
.idea/
.vscode
backend/.ipynb*
backend/handler.js
backend/handler.test.js
backend/jest.setup.js
backend/node_modules/
backend/serverless.yaml
.serverless/
frontend/node_modules
tests/node_modules
tests/playwright-report
tests/test-results

