#marginTop{
	height: 100px;
	background-image: url(./images/shop.jpg);
	background-repeat:no-repeat;
	width:80%;
}

.box{
	background-color:white;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 2.5%;
	border-radius: 25px;
	padding:25px;
}

#blackColor{
	background-color:#FF6600;
}


#ulMenuHeader{
	float:right;
	list-style: none;
	text-decoration:none;
}

.liMenuHeader{
	line-height: 2em;
	float: right;
	width: auto;
	border: 0.1em solid black;
	border-radius:1em;
	text-decoration: none;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	margin-top:1.5em;
	margin-left: 2px;
	font-size:15px;
}

#rightColumn{
	float:right;
	width: 15%;
	margin-left: 0.5em;
	margin-right: 6em;
}

#centre{
	float:left;
	width: 60%;
	margin-left:6em;
	margin-bottom:2em;
}

#footer{
	clear:both;
	width:80%;
}

			
body{
	font-size: 18px;
	line-height:25px;
	clear:both;
}	

.chapter {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 20px;
}

.prev {
	width: 30%;
	float: left;
	text-align: left;
}

.next {
	width: 30%;
	float: right;
	text-align: right;
}

code {
	background-color: #e1e1e1;
	padding :0px;
}

form{
	background-color:#CCFFCC;
	border-style:ridge;
	border-width:2px;
	border-radius:25px;
}

input{
	border-style: solid;
	color: #0000FF;
	border: 1px solid black;
	border-radius:25px;

}
label{
	width: 4px;
	float: left;
	text-align: right;
	margin-right: 111px;
	margin-left: 15px;
	display: block
}
textarea{
	color: #0000FF;
	border: 1px solid #781351;
	border-radius:25px;
}

#submit
{
	color:#000000;
	background: #ffa20f;
	border: 2px outset #d7b9c9;
	margin-left: 15px;
} 

