#marginTop{
	height: 100px;
}
#marginTop ul
{
list-style: none;
padding: 0;
margin-left: 2em;;
}

#marginTop li
{
float: left;
margin: 0 0.15em;
}

#marginTop li a
{
height: 2em;
line-height: 2em;
float: left;
width: 11em;
display: block;
border: 0.1em solid #dcdce9;
color: #0d2474;
text-decoration: none;
text-align: center;
}

#leftColumn {
		background-image: url(./images/fc572_Logo.png);
	background-repeat:no-repeat;
    	height: 300px;
	width: 20%;
	float:left;
}

#centre{

	height:300px;
	width:60%;
	float:left;
}

#rightColumn {
	
	height: 300px;
	width: 10%;
	float:right;
}


body{
	font-family: verdana, sans-serif;
	font-size: 18px;
	line-height:25px;
	background-color:#f7f7f7;
	clear:both;
}	

.addBorder{
	border-width: 1px;
	border-style: dotted;
}

#footer{
	bottom:0;
    	position:absolute;	
	margin-bottom:90px;	
	padding-bottom:90px;
	clear: both;
}


.chapter {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 20px;
}

.prev {
	width: 30%;
	float: left;
	text-align: left;
}

.next {
	width: 30%;
	float: right;
	text-align: right;
}

code {
	background-color:#f1f1f1;
}

