#marginTop{
	height: 100px;
		background-image: url(./images/fc572_Logo11.png);
	background-repeat:no-repeat;
}
#marginTop ul
{
list-style: none;
padding: 0;
margin-left: 2em;;
}

#marginTop li
{
float: left;
margin: 0 0.15em;
}

#marginTop li a
{
height: 2em;
line-height: 2em;
float: left;
width: 11em;
display: block;
border: 0.1em solid #dcdce9;
color: #0d2474;
text-decoration: none;
text-align: center;
}

#leftColumn {
	
    	height: 300px;
	width: 20%;
	float:left;
}

#centre{

	height:300px;
	width:60%;
	float:left;
}

#rightColumn {
	
	height: 300px;
	width: 10%;
	float:right;
}


body{
	/*background-image: url(./images/obk.png);*/
	font-family: verdana, sans-serif;
	font-size: 18px;
	line-height:25px;
	background-color:#f7f7f7;
	clear:both;
}	

.addBorder{
	border-width: 1px;
	border-style: dotted;
}

#footer{
	bottom:0;
    	position:absolute;	
	margin-bottom:90px;	
	padding-bottom:90px;
	clear: both;
}


.chapter {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 20px;
}

.prev {
	width: 30%;
	float: left;
	text-align: left;
}

.next {
	width: 30%;
	float: right;
	text-align: right;
}

code {
	background-color: #e1e1e1;
	padding :0px;
}

form{
	background-color: #d1d1d1;
	border-style:ridge;
	border-width:2px;
}

input{
	border-style: solid;
	color: #0000FF;
	border: 1px solid #781351

}
label{
	width: 4px;
	float: left;
	text-align: right;
	margin-right: 111px;
	margin-left: 15px;
	display: block
}
textarea{
	color: #0000FF;
	border: 1px solid #781351
}

#submit
{
	color:#000000;
	background: #ffa20f;
	border: 2px outset #d7b9c9;
	margin-left: 15px;
} 

