<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				   		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				   		http://www.springframework.org/schema/context
				   		http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
						">

    <!-- this is a simple bean creation statement, this will use a default constructor for the class -->
    <bean id="myhelper" class="DatabaseHelper"/>

    <!-- the equivalent of "BusinessLogicEngine myengine = new BusinessLogicEngine(DatabaseHelper myhelper);" -->
    <bean id="myengine" class="BusinessLogicEngine">
        <constructor-arg index="0"> <!-- go and take the constructor with 1 argument (index 0) -->
            <ref bean="myhelper"/>  <!-- the argument passed to the constructor -->
        </constructor-arg>
    </bean>

    <!-- the equivalent of "BusinessLogicEngine myengine = new BusinessLogicEngine();
                            DatabaseHelper dbhelper = new DatabaseHelper();
                            myengine.setDbHelper(dbhelper);
                            myengine.startEngine();
    " -->
    <bean id="useTheSetterMethod" class="BusinessLogicEngine" init-method="startEngine">
        <property name="dbHelper" ref="myhelper"/> <!-- this uses the setter method inside the BusinessLogicEngine class -->
    </bean>

    <context:annotation-config/> <!-- needed for autowired configuration -->
    <!-- with autowired configuration there is no need for ddefault constructors or setter methods as spring takes care of this all -->
    <bean id="myAutowiredEngine" class="BusinessLogicEngineAutowired" init-method="startEngine"/>

    <bean id="myhelper2" class="DatabaseHelper"/>

</beans>